.done {
    text-decoration: line-through;
}


/* Стилі для кнопки додавання завдань */

button {
    background-color: #4CAF50;
    /* Зелений колір */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}


/* Стилі для форми вводу */

form input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form button[type=button] {
    width: 20%;
    background-color: #4CAF50;
    /* Зелений колір */
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}